# Generated public-asset allowlist.
*
!/.gitignore
!/.nojekyll
!/COPYRIGHT.md
!/README.md
!/bank.html
!/bank.js
!/copyright.html
!/current-affairs.html
!/exam-app.js
!/exam-data.js
!/exam-engine.js
!/exam-info.html
!/exam.css
!/exam.html
!/favicon.svg
!/index.html
!/indfoedsret.html
!/medborgerskab-bank.html
!/medborgerskab-data.js
!/medborgerskab-exam.html
!/medborgerskab-info.html
!/medborgerskab-questions.json
!/medborgerskab-sources.html
!/medborgerskab.html
!/questions.json
!/site.css
!/sitemap.xml
!/sources.html
